<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https://vk.com/</string>
		<string>https://my.games/</string>
		<string>https://sferum.ru/?p=start</string>
		<string>https://youla.ru/</string>
		<string>https://samokat.ru/</string>
		<string>https://citydrive.ru/</string>
		<string>https://cloud.mail.ru/home/</string>
		<string>https://vseapteki.ru/</string>
		<string>https://calendar.mail.ru/</string>
	</array>
</dict>
</plist>
